# Python Function
https://docs.python.org/3.9/library/functions.html

# Invalid Variable

first-name

first@name

first$name

num-1

1num

# Creating Variables

In [ ]:
x = 6
y = "Peter"
print(x)
print(y)

# Type Casting

In [ ]:
x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0

# Get the Type

In [ ]:
x = 5
y = "John"
print(type(x))
print(type(y))

# Case-Sensitive

In [ ]:
a = 4
A = "Sally"
#A will not overwrite a

# Multiple Assignment

In [ ]:
a = b = c = 1

In [ ]:
a,b,c = 1,2,"john"

# Standard Data Types 
Numbers

String

List

Tuple

Dictionary

Set

# String

In [ ]:
a = 'Hello World!'

print(a)       # Prints complete string
print(a[0])       # Prints first character of the string
print(a[2:5])     # Prints characters starting from 3rd to 5th

# List

In [ ]:
list1 = [ 'abcd', 786 , 2.23, 'john', 70.2 ]


print(list1)         # Prints complete list
print(list1[0])       # Prints first element of the list
print(list1[1:3])     # Prints elements starting from 2nd till 3rd 
print(list1[2:])      # Prints elements starting from 3rd element

# Tuple

In [ ]:
tuple1 = ( 'abcd', 786 , 2.23, 'john', 70.2  )


print(tuple1)               # Prints the complete tuple
print(tuple1[0])            # Prints first element of the tuple
print(tuple1[1:3])          # Prints elements of the tuple starting from 2nd till 3rd 
print(tuple1[2:])

# Dictionary

In [ ]:
dict1 = {}
dict1['one'] = "This is one"
dict1[2]     = "This is two"


print(dict1['one'])       # Prints value for 'one' key
print(dict1[2])

# Set

In [ ]:
s = {5,6,7,8,7.8,"H"}

print(type(s))
print(s)

# Numeric

In [ ]:
x = 1.0
my_variable = 12.2

In [ ]:
type(x)

In [ ]:

x = 1

In [ ]:
x = 1
type(x)

In [ ]:
# boolean
b1 = True
b2 = False

type(b1)

In [ ]:
# complex numbers: note the use of `j` to specify the imaginary part
x = 1.0 - 1.0j
type(x)

In [ ]:
x = 1.0

# check if the variable x is a float
type(x) is float

In [ ]:
isinstance(x, float)